body {
  background: linear-gradient(red 20%, white 87%, white, red);
}

#title {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  margin: 50px;
  color: gold;
}

#p1-input,
#p2-input,
#start-btn {
  display: block;
  align-items: center;
  border: 1.5px solid black;
  margin-left: 2px;
  margin-right: 2px;
}

#game,
#subtitle {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* #board {
  border: 5px solid gold;
  padding: 10px;
} */

/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 4px rgba(255, 217, 0, 0.849);
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: rgba(128, 128, 128, 0.137);
  border: 1px solid black;
  border-radius: 50%;
}
